/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
    --highligh-color: #08A6E4;
    --highligh-color2: #EB476E;
    --highligh-color3: #55DFB4;
    --base-color: #FFFFFF;
    --base2-color: #A5A5A5;
    --base3-color: #000;
    --base4-color: #F7F7F7;
    --text-light-color: #A5A5A5;
    --dark-bg: #28272C;
    --logo-color: #08A6E4;
    --accent-color: #FB3B64;
    --color-redish: #FB3B64;

    --button-primary-bg: var(--highligh-color);
    --button-primary-color: var(--base-color);
    --button-secondary-bg: var(--highligh-color2);
    --button-secondary-color: var(--base-color);
    --button-tertiary-bg: var(--highligh-color3);
    --button-tertiary-color: var(--base-color);
    --button-padding: 12px 45px;
    --button-minimal-padding: 11px 29px;
    --button-ico-padding: 17px;

    --main-header-bg: rgba(0, 0, 0, 0.4);
    --main-nav-hover-bg: rgba(255, 255, 255, 0.4);
    --main-img-overlay-bg: rgba(0, 0, 0, 0.3);
    --main-nav-item-padding: 30px 25px 20px;
    --main-nav-item-margin: 0px 20px;

    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --h1-font-size: 49px;
    --h2-font-size: 36px;
    --h3-font-size: 20px;
    --text-font-size: 16px;
    --logo-font-size: 32px;
    --menu-font-size: 11px;

    --h2-sep-width: 50px;
    --h2-sep-height: 3px;
    --h2-sep-margin: 10px;

    --container-width: 1352px;
    --container-padding: 0 22px;

    --col-gap: 16px;
    --input-padding: 8px 12px;
}

/* GLOBAL */

* {
    box-sizing: border-box;
}

body {

    font-family: var(--primary-font);
    font-size: var(--text-font-size);
    color: var(--base3-color);

}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base3-color);
    font-size: var(--h2-font-size);
    /* font-weight: bold; */
    /* text-transform: uppercase; */
}

/* h2::before,
h2::after {
    content: "";
    width: var(--h2-sep-width);
    height: var(--h2-sep-height);
    display: inline-block;
    background-color: var(--highlight-color);
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 3px;
}

h2::before {
    background-color: var(--highligh-color);
    margin-right: var(--h2-sep-margin);
}

h2::after {
    background-color: var(--highligh-color);
    margin-left: var(--h2-sep-margin);
} */

h3 {
    color: var(--base3-color);
    font-size: var(--h3-font-size);
}

.container {
    margin: 0 auto;
    width: var(--container-width);
    padding: var(--container-padding);

}

/* BUTTONS */

.btn {
    display: inline-flex;
    padding: var(--button-padding);
    border-radius: 40px;
    text-decoration: none;
    justify-content: center;
    border: none;
    cursor: pointer;
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-top: 25px;
}

.btn--primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-bg);
    /* box-shadow: 0px 3px 6px #FF00004D; */
}


.btn--secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-bg);

}

.btn--tertiary {
    color: var(--button-tertiary-color);
    background-color: var(--button-tertiary-bg);

}

.btn--more {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    padding: var(--button-ico-padding);
    margin: 0 auto;
    /* bottom: 22.5px; */
    /* box-shadow: ; */

}

.btn i {
    font-size: 22px;

}

.btn--minimal {
    padding: var(--button-minimal-padding);
}

.btn--outline {
    border: thin solid var(--highlight-color);
}


/* ROWS AND COLS */

.row {
    display: flex;
    gap: var(--col-gap);
}

.col--2 {
    width: calc(var(--container-width) / 2);
}

.col--3 {
    width: calc(var(--container-width) / 3);
}

.col--4 {
    width: calc(var(--container-width) / 4);
}

.col img {
    max-width: 100%;
}

.col h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--text-light-color);
}

.col p {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    margin-bottom: 15px;
    color: var(--text-light-color);
}


/* LOGO */
.main__header__logo {
    /* display: flex; */
    font-size: var(--logo-font-size);
    font-family: var(--primary-font);
    /* font-weight: bold; */
    color: var(--logo-color);
    font-weight: 300;
    /* padding-left: 10px;
    padding-top: 20px; */

}


/* MAIN */


.main {
    /* background-image: url(../images/Image.jpg); */
    background-size: cover;
    /* background-position: center; */
    position: relative;
    /* height: calc(100vh - 22.5px); */

}

/* .main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-img-overlay-bg);
    top: 0;
    left: 0;
} */

.main>* {
    z-index: 10;
    position: relative;
}

.main__header {
    /* color: var(--highligh-color);
    font-family: var(--primary-font);
    font-size: var(--logo-font-size); */
    background-color: var(--base-color);
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    /* border-bottom: 2px solid #FFFFFF33; */
}

.main__header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



/* NAVIGACE */
.main__nav {
    background-color: white;
    /* z-index: 2; */

}

.main__nav__list {
    display: flex;
    /* background-color: gray; */
}

.main__nav__list li {
    display: inline-flex;
    list-style-type: none;
    margin: var(--main-nav-item-margin);
}

.main__nav__list a {
    display: inline-flex;
    color: var(--base2-color);
    /* width: 120px; */
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--menu-font-size);
    font-family: var(--secondary-font-family);
    padding: var(--main-nav-item-padding);
    /* background: var(--highligh-color); */

}

.main__nav__list a:hover,
.main__nav__list a:focus {
    outline: none;
    color: var(--base3-color);
    font-weight: bold;
    border-bottom: 4px solid var(--highligh-color);
    transition: all 0.6s;
    /* background-color: var(--main-nav-hover-bg); */
}

/* li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
  li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: blue;
  } */

/* OPENNING */
.opening {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center

}

.opening h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base3-color);
    font-size: var(--h1-font-size);
    margin: 140px 0 20px;
}



.opening p {
    color: var(--base3-color);
    margin-bottom: 51px;
}

.opening .btn--primary {
    width: 440px;
    height: 67px;
    margin: 0 auto;
}

.opening img {
    width: 100%;
    height: auto;

}

/* STATISTICS */

.statistics h2 {
    margin-top: 100px;
    text-align: center;
}

.statistics__conteiner {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__conteiner__block {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);

}

.statistics__conteiner__block img {
    position: absolute;
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__conteiner__block:nth-child(1) .statistics__circle {
    background-color: var(--highligh-color2);
}

.statistics__conteiner__block:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__conteiner__block:nth-child(2) .statistics__circle {
    background-color: var(--highligh-color);
}

.statistics__conteiner__block:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics__conteiner__block:nth-child(3) .statistics__circle {
    background-color: var(--highligh-color3);
}

.statistics__conteiner__block:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}

/* .statistics__conteiner__block img::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
       border-radius:50%;
    z-index: 1;
} */

.statistics__conteiner__block strong {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics__conteiner__block p {
    color: var(--base2-color);
    margin-top: 19px;
    text-align: center;
}

/* BENEFITS */
.benefits {
    padding: 100px 0;
    background-color: var(--base4-color);
}

.benefits__container {
    padding: 0 100px;
}

.benefits__single {
    background-color: var(--base-color);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits__text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits__description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits__single--notebook {
    --accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
    width: 386px;
    height: auto;
}

.benefits__single--phone {
    --accent-color: var(--highligh-color);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits__single--phone .benefits__image img {
    width: 426px;
    height: auto;
}

.benefits__single--phone .benefits__text {
    margin: 70px 0;
}

.benefits__double {
    --accent-color: var(--highligh-color3);
    display: flex;
}

.benefits__double>div {
    margin-bottom: 0;
}

.benefits__single--solo {
    max-width: 620px;
}

.benefits__single--solo .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.benefits__single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits__single--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}


/* pricing */
.pricing {
    min-width: 60em;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--base4-color); */
    /* margin: 70px 35px; */
}

.pricing__title {
    text-align: center;

}

.pricing__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pricing__block {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    position: relative;

}

.basic {
    border: 1px solid var(--highligh-color2);
}

.professional {
    border: 1px solid var(--highligh-color);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--highligh-color);
}

.premium {
    border: 1px solid var(--highligh-color3);
}

.pricing__block .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
}

.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__details h3 {
    font-size: 1.25rem;
    font-family: var(--primary-font);
    font-weight: 700;
}

.professional h3 {
    font-size: 1.3125rem;
}


.pricing__details strong {
    font-size: 2.875rem;
    font-family: var(--secondary-font);
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}

.pricing__details p {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.pricing__items {
    text-align: center;
}

.pricing__block__item--OK, .pricing__block__item--NOK {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing__block__item--OK::before {
    content: "\e013";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Checkmark-1.svg);
    background-size: cover;
    color: var(--highligh-color3);
}

.pricing__block__item--NOK::before {
    content: "\e013";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
    background-size: cover;
    color: var(--highligh-color2)
}

/* contact */

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
  }
  
  .contact__column {
    width: 50%;
  }
  
  .contact__title {
    font-size: 3.0625rem;
    line-height: 3.6875rem;
  }
  
  .contact__instruction {
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .contact__details {
    display: flex;
    justify-content: flex-start;
    color: var(--color-grey);
    align-items: center;
  }
  
  .details__item {
    color: var(--color-grey);
    font-weight: 500;
    text-decoration: none;
  }
  
  .details__item:first-of-type {
    margin-right: 20px;
  }
  
  .details__item img {
    margin-right: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
  }
  
  .form__field:first-of-type {
    margin-bottom: 42px;
  }
  
  .form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
  }
  
  .form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
  }

  .form__consent {
    margin-top: 30px;
  }
  
  .form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
  }
  
  .form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
  }
  
  .form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
  }
  
  .form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
  }

  /* footer */

  .footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer__copy {
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: var(--color-grey);
    margin-top: 6px;
  }
  
  .footer__icons a:first-of-type {
    margin-right: 25px;
  }